@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
        font-family: Arial, Helvetica, 
    sans-serif;
}


html, body{
    height: 100vh;
    width: 100vw;

}
main{
    position: relative;
    height: 100vh;
    background: url('../imagens/fundo-madeira.jpg') no-repeat;
    background-size: cover;
  
  
    
}

section#telefone{
    position:absolute;
    top: 50%;
    left: 50%;

    height: 627px;
    width: 311px;
    transform: translate(-50%, -50%);
    background: url('../imagens/frame-iphone.png') no-repeat;
    
   
}

iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;
}

section#redes-socias{
    text-align: right;
}
section#redes-socias img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.788);
}
section#redes-socias img:hover{
    border: 2px solid rgba(255, 255, 255, 0.452);
    transform: translate(-5px, -5px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.63);
    transition: transform 0.5s;
}